.catalog {
  display: grid;
  grid-template-columns: repeat(4, $card-width);
  justify-content: center;
  margin: 0 auto;
  gap: 48px;

  @include onDesktop {
    grid-template-columns: repeat(3, $card-width);
  }

  @include onTablet {
    grid-template-columns: repeat(2, $card-width);
  }

  @include onMobile {
    grid-template-columns: $card-width;
  }

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
